<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Xinfeng Le
</p>
<p>  
	Information Networking Institute
</p>
<p>
  Carnegie Mellon University
  </p>
  <p>
  5000 Forbes Avenue, Pittsburgh, PA 15213
  </p>
  <p>
  Email: xle@andrew.cmu.edu
</p>