<footer class="footer">
  <small>
    ToDoList by Xinfeng Le
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      </a></li>
    </ul>
  </nav>
</footer>